<Config>
	<!--
		half max limit. linear progression. no wasteland limit. no seedSkillMagazine limit
	-->
	<LimitedItems>
		<Item name="harvestingToolsSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="repairToolsSkillMagazine"><!--magazine max 50-->
			<Biome name="pine_forest" limit="2"/>
			<Biome name="burnt_forest" limit="5"/>
			<Biome name="desert" limit="8"/>
			<Biome name="snow" limit="10"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="salvageToolsSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="knucklesSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="bladesSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="clubsSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="sledgehammersSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="bowsSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="spearsSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="handgunsSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="shotgunsSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="riflesSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="machineGunsSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="explosivesSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="roboticsSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="armorSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="medicalSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="foodSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<!--<Item name="seedSkillMagazine">--><!--magazine max 20-->
			<!--<Biome name="pine_forest" limit="1"/>-->
			<!--<Biome name="burnt_forest" limit="2"/>-->
			<!--<Biome name="desert" limit="3"/>-->
			<!--<Biome name="snow" limit="4"/>-->
			<!--<Biome name="wasteland" limit="65536"/>-->
		<!--</Item>-->
		<Item name="electricianSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="trapsSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="workstationSkillMagazine"><!--magazine max 75-->
			<Biome name="pine_forest" limit="4"/>
			<Biome name="burnt_forest" limit="8"/>
			<Biome name="desert" limit="11"/>
			<Biome name="snow" limit="15"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
		<Item name="vehiclesSkillMagazine"><!--magazine max 100-->
			<Biome name="pine_forest" limit="5"/>
			<Biome name="burnt_forest" limit="10"/>
			<Biome name="desert" limit="15"/>
			<Biome name="snow" limit="20"/>
			<Biome name="wasteland" limit="65536"/>
		</Item>
	</LimitedItems>
</Config>